.contenedor {
	width: 99.5%;
	height: 100vh;
}

.cabecera-superior{
	width: 100%;
	height: 6vh;
	background: #114692;
}

.cabecera-superior-imagen{
	width: 220px;
	height: 6vh;
}

.cabecera-superior-titulo{
	text-align: center;
	padding-left: 25%;
	color: white;
}

#map{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.cabecera{
	width: 100%;
	height: 4vh;
	background: #b2dbfb;

}
.row { 
	padding: 0px;
	margin: 0px;
}

.cabecera-izquierda{
	width: 30%;
	display: table;
	height: 7vh;
	float: left;
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.cabecera-centro{
	width: 30%;
	display: table;
	height: 7vh;
	float: left;
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.cabecera-derecha{
	width: 30%;
	height: 7vh;
	float: right;
	display: flex;
  	justify-content: center;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.div-departamento{
	display: table-cell;
	vertical-align: middle;
	font-size: 19px;
}

.div-descargar{
	display: table-cell;
	vertical-align: middle;
}
.contenedor-mapa{ 
	width: 100%;
	height: 84vh;
}

.mapa{
	width: 85%;
	float: left;
	height: 84vh;
	padding: 6px;
	border: 4px solid black;
	margin-left: 3px;
	margin-right: 3px;
	height: 86vh;
}

.descripcion-mapa{
	width: 14%;
	float: right;
	height: 84vh;
	padding: 6px;
}

.contenido-descripcion-mapa{
	height: 100%;
}

@media (max-width: 900px) {
	.mapa {
		width: 100%;
	}

	.descripcion-mapa{
		width: 100%;
	}
}

.image-legend{
	width:50px;
	height:50px;
}

.div-legend-parcial{
	width: 10%;
	background-color: white;
}

.div-legend-total{
	width: 90%;
	background-color: white;
}