<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="https://gisem.osinergmin.gob.pe/UAP_ActasFotos/*, https://gisem.osinergmin.gob.pe/UAP_ReporteGeneral/*"
             mustMatch="true" xmlns="proxy.xsd">
    <serverUrls>
       
        <serverUrl 
            url= "http://domainosinerg4321/"
			hostRedirect= "https://gisem.osinergmin.gob.pe/serverdc/rest/services/"
            username="portaladmin"
            password="Os1n3rgm1n"
            rateLimit="6000"
            rateLimitPeriod="60"
            matchAll="true"
        />
		
		<serverUrl 
            url= "https://services5.arcgis.com/oAvs2fapEemUpOTy/"
            username="epariona"
            password="epariona92017"
            rateLimit="6000"
            rateLimitPeriod="60"
            matchAll="true"
        />
		
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
